body {
    font-family: "Open Sans";
}

/*** Headers ***/

/* header#main {
    margin-bottom: 40px;
} */
header#main .logo a {
    display: block;
    font-family: "Lato";
    font-size: 28pt;
    color: #f1f1f3;
    margin-bottom: 20px;
}


/*** Containers ***/

.container {
    padding: 40px 20px;
}
.container-spacy {
    padding: 140px 20px;
}

/*** Background ***/

div#home {
    background: url(../imgs/vinyl.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    color: #f1f1f3;
    height: 671px;
}
.background-white {
    background-color: #f1f1f3;
}
.background-red {
    background-color: #f37161;
}


/*** Navigation ***/

nav#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
nav#main ul li {
    display: inline-block;
    margin-right: 30px;
}
nav#main ul li:last-child {
    margin-right: 0;
}
nav#main ul li a {
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 500;
    color: #f1f1f3;
    border: 2px solid transparent;
    padding: 8px 10px;
    border-radius: 5px;
}
nav#main ul li a:hover:not(.active) {
    border-color: #f1f1f3;
}
nav#main ul li .active {
    color: #f37161;
    background-color: #f1f1f3;
}


/*** Lists ***/

ul#main_bttns li {
    text-align: center;
}


/*** Buttons ***/

.button {
    display: block;
    padding: 15px 105px;
    width: 500px;
    border-radius: 15px;
    background-color: #66a796;
    font-family: "Pacifico";
    font-size: 20pt;
}
.button:hover {
    background: #dabf44;
    color: #fff;
}
.button a,
.button a:hover{
    color: #f1f1f3;
}


/*** Titles  ***/

.title {
    text-align: center;
}
.title h2 {
    color: #66a796;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title p {
    margin-bottom: 60px;
}


/*** Form ***/

.form {
    width: 500px;
    box-shadow: 0 0 20px 0 #999;
    /* top: 50%;
    bottom: 50%; */
    /* transform: translate(-50%, -50%); */
    position: relative;
}
/* form {
    margin: auto;
    width: 60%;
} */
.input {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}
.field {
    height: 150px;
    padding-top: 10px;
}

/*** Recorder ***/

