body {
    font-family: "Open Sans";
}

/*** Headers ***/

/* header#main {
    margin-bottom: 40px;
} */
header#main .logo a {
    display: block;
    font-family: "Lato";
    font-size: 28pt;
    color: #f1f1f3;
    margin-bottom: 20px;
}


/*** Containers ***/

.container {
    padding: 40px 20px;
}
.container-spacy {
    padding: 140px 20px;
}

/*** Background ***/

div#home {
    background: url(../Images/vinyl.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: contain;
    color: #f1f1f3;
    height: 671px;
}
.background-white {
    background-color: #f1f1f3;
}
.background-red {
    background-color: #f37161;
}


/*** Navigation ***/

nav#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
nav#main ul li {
    display: inline-block;
    margin-right: 30px;
}
nav#main ul li:last-child {
    margin-right: 0;
}
nav#main ul li a {
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 500;
    color: #f1f1f3;
    border: 2px solid transparent;
    padding: 8px 10px;
    border-radius: 5px;
}
nav#main ul li a:hover {
    border-color: #f1f1f3;
}
nav#main ul li.selected a {
    background-color: #f1f1f3;
    color: #f37161;
}


/*** Home Page ***/

.initial {
    text-align: center;
}


/*** Buttons ***/

.button {
    display: block;
    padding: 15px 45px;
    border-radius: 15px;
    background-color: #66a796;
    font-family: "Pacifico";
}
.button:hover {
    background: #dabf44;
    color: #fff;
}